<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary  border-top-0 d-flex text-white justify-content-between">
                    <h5 class="card-title mb-0">Tasks List</h5>
                    <button class="btn btn-sm btn-danger"(click)="deleteAll()">
                        <i class="fa fa-trash"></i>  Delete All
                     </button>
                </div>
                <div  class="text-center">
                    <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
                        <input type="text" class="form-control" placeholder="Search tasks by title" [(ngModel)]="searchQuery">
                        <button class="btn btn-sm btn-secondary fa fa-search" type="button" (click)="searchTasks()">
                         
                        </button>
                    
                    </div>
                </div>
                 
                <div class="card-body">
                    <!-- First container content -->
                    <div *ngFor="let task of data" class="mb-3">
                        <div class="card border-primary">
                            <div class="card-body">
                                <h2 class="card-title text-primary ">{{ task.title }}</h2>
                                <p class="card-text">Description: {{ task.description }}</p>
                                <p class="card-text">Type: {{ task.type }}</p>
                                <p class="card-text">Due Date: {{ task.dueDate | date: 'dd/MM/yyyy' }}</p>

                            </div>
                            <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
                               
                                    <i class=""></i>
                                
                                <button class="btn btn-sm btn-danger" (click)="deleteById(task.id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                    <div *ngIf="data.length === 0" class="text-center">
                        <p>No tasks available.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Add Task</h5>
                </div>
                <div class="card-body">
                    <!-- Task Form -->
                    <form (submit)="addTask($event)">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" [(ngModel)]="newTask.title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" [(ngModel)]="newTask.description" name="description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Type</label>
                            <select class="form-select" id="type" [(ngModel)]="newTask.type" name="type" required>
                                <option value="done">Done</option>
                                <option value="todo">To Do</option>
                                <option value="pending">Pending</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dueDate" class="form-label">Due Date</label>
                            <input type="date" class="form-control" id="dueDate" [(ngModel)]="newTask.dueDate" name="dueDate" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Task</button>
                    </form>
                </div>
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">Tasks by percentage</h5>
                    </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas  id="MyChart" >{{ chart }}</canvas>
                  </div>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
